[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.124.4",
    "joblib>=1.5.3",
    "matplotlib>=3.10.8",
    "opencv-python>=4.12.0.88",
    "scikit-learn>=1.8.0",
]
